extends layout

block title
  = user ? _("Forbidden") : _("Authentication required")

block stylesheets
  link(href="http://fonts.googleapis.com/css?family=Share:400,700", type='text/css', rel="stylesheet")
  link(href="/stylesheets/style.css", type='text/css', rel="stylesheet")

block scripts
  script(src="/javascripts/vendor/bootstrap/bootstrap.min.js", type="text/javascript")

block body

  include layouts/menu
  .page-header
    .container
      .row    
        .span8
          if(user)            
            h1=_("Forbidden")
            p!=_("Your are not allowed to access to this page.")
          else
            h1=_("Authentication required")
            p!=_("Please, <a href='/users/login'>sign in</a> to access to this page.")