footer.container
  hr.soften.hide
  .row.top30
    .span8
      = "© " + new Date().getFullYear() + " Journalism++ | "
      !="<a href='/page/about'>"+_("About")+"</a> | ";
      !="<a href='/page/cgu'>"+_("CGU")+"</a> | ";
      !="<a href='http://github.com/jplusplus/jquest-mission'>"+_("Developers")+"</a>";