.navbar
	.navbar-inner
		.container
			.brand
				a(href="/") jQuest
			ul.nav.pull-right
				
				- var mainLinks = [{path:"/",label:"Home"}, {path:"/courses",label:"Courses"}, {path:"/help",label:"Find help"}]

				each link in mainLinks				
					if currentRoute.path == link.path
						li.main-link.active
							a(href=link.path)=link.label
					else
						li.main-link
							a(href=link.path)=link.label
				
				-if( currentUser )
					li.user-avatar.dropdown
						a.dropdown-toggle(href="#",data-toggle="dropdown")
							img(src="http://twitter.com/api/users/profile_image/"+currentUser.username)
							b.caret
						ul.dropdown-menu
							li 
								a(href="/users/"+currentUser.username) Profil
							li 
								a(href="/users/"+currentUser.username+"/scores") My scores
							li 
								a(href="/users/settings") Settings
							li.divider
							li 
								a(href="/users/logout") Log out
				- else
					li.dropdown
						a.padding0(href="/users/twitter-connect")
							span.btn.btn-primary Log in

							
