include ../layouts/menu
.page-header
	.container
		h1
			a(href=_("/courses/") + course.slug)=course.title
			=" › " + chapter.title
		p=chapter.excerpt
		
.container
	.row
		//- chapter.content must be read as an HTML content
		.span8
			| !{chapter.content}
			p.tr.top20
				a.btn.btn-large.btn-primary(href="")=_("Start the mission!") 

		.span4
			
include ../layouts/footer