include layouts/menu
.page-header
	.container
		.row		
			.span8
				h1 Welcome to jQuest!
				p Where the Journalist training done right.
			.span4
				a(href="/users/twitter-connect").btn.btn-large.btn-primary Get ready!

include layouts/footer