  

case mission.state

  when "game"        

    script(src="//platform.twitter.com/widgets.js",charset="utf-8")

    .well-header
      .pull-left.right20 00:30
      .progress
        .bar(style="width:60%") 

    .content
      .span6.offset1
        blockquote.twitter-tweet.tw-align-center(lang="fr")
          p
            | Si vous aussi vous n'aimez pas qd Stack Overflow supprime vos formules de politesse, en voici la (bonne ?) raison
            a(href="http://t.co/fost2yW7",title="http://meta.stackoverflow.com/a/93989")
              meta.stackoverflow.com/a/93989
          | Pierre Romera (@Pirhoo) 
          a(href="https://twitter.com/Pirhoo/status/241574379123785728",data-datetime="2012-08-31T16:33:14+00:00")
            | Août 31, 2012    
      .clearfix
        
      h3.top20.question
        .span8.tc        
          =question

      .steps
        =(mission.questionsNumber-mission.questionsLeft)+ "/" + mission.questionsNumber

      .row.answers
        .span8.offset1
          - if( typeof answers != "undefined" ) {
            each answer in answers
              label.span3.btn.btn-block.top20.radio
                input(type="radio", name="quiz-answer", value=answer)
                =answer
          - }



  when "succeed"
      h2 Congratulations!
      p You win buddy!              

  when "failed"
      h2 Oh my gosh dude, you did something realy bad
      p You should try again

