case mission.state
  when "game"
    block mission_introduction   
      h2 Hello world!
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.
 
  when "succeed"
    block mission_succeed  
      h2 Congratulations!
      p You win buddy!              

  when "failed"
    block mission_failed                                    
      h2 Oh my gosh dude, you did something realy bad
      p You should try again