extends ../layout

block title
  =title

block stylesheets
  link(href="http://fonts.googleapis.com/css?family=Share:400,700", type='text/css', rel="stylesheet")
  link(href="/stylesheets/style.css", type='text/css', rel="stylesheet")

block scripts
  script(src="/javascripts/vendor/bootstrap/bootstrap.min.js", type="text/javascript")
  script(src="/javascripts/courses.js", type="text/javascript")
      
block body

  include ../layouts/menu
  .page-header
    .container
      h1=course.title
      p=course.description

  .container    
      .row
        .span9#my-journey
          .main-panel.no-padding
            include ../layouts/my-journey
        .span3
          include ../layouts/progress-menu