@footerHeight:300px;
@footerBackground: @linkColor;

body {
  background:url("/images/bg.jpg");
  padding-top:50px;
}

/* TITLES */
h1, h2, h3, h4, .brand, fieldset legend {
  font-family: 'Share', sans-serif;
  text-shadow:1px 1px 0 white;
}

a:hover {
    text-decoration:none;
}

/* MAIN ELEMENT (WORKSPACE) */
#main {
  position:relative;
  z-index:1000;  
  background:url("/images/bg.jpg");  
  margin:0;
  margin-bottom:@footerHeight;    
  //.box-shadow(3px 0 6px 0 darken(@footerBackground, 50) );  
}


/* TABLETS AND BELOW */
@media (max-width: 979px) {

  // Remove any padding from the body
  body { padding: 0; }
  #main {
      padding-left:20px;
      padding-right:20px;
  }
}


/* MAIN MENU */
#menu {
  
  .main-link {
    font-family: 'Share', sans-serif;
    font-size:16px;
    margin-right:10px;
  }

  .log-in {
    white-space: nowrap;
    padding:10px;

    label {
      margin:0;
      margin-bottom:5px;
      display: block;
      color:@grayDark;

      &.checkbox {
        margin-top:5px;
        margin-bottom:0px;
      }
    }

    a {
      color:@linkColor;
      padding-top:0;
    }

    .btn {
      margin-top:0;
      margin-bottom:0;
    }

  }

  .user-avatar {

    img {
      height:30px;
      clip:rect(0, 30px, 30px, 0);    
      .border-radius(50%);

        border: #DFDFDF 1px solid;
        border-bottom-width:2px;
        .box-shadow(0 2px 1px 0 darken(#DFDFDF, 10%));

        float:left;
        margin-right:5px;
        position:relative;
        top:-6px;
    }
  }
}


/* SCROLLBARS */
.iscrollbarV, .iscrollbarH {

  & > div {
    min-height:4px;    
    min-width:4px; 
    background:fade(black, 40%);
    .border-radius(4px);
  }
}


/* FOOTER */
footer {
  .opacity(80);
  background:fade(@footerBackground, 90);
  color:lighten(@footerBackground, 50);
  a, a:hover { color:lighten(@footerBackground, 80); }

  position:fixed;
  position:10;
  bottom:0;
  left:0;
  right:0;
  
  height:@footerHeight;
}

/* MAIN PANEL STYLE */
.main-panel {
  position:relative;
  background:white;
  padding:20px;
  margin-bottom:60px;
  .box-shadow(0 0 6px 0 fade(#000, 10) );
  .border-radius(3px);
  border:0.01px solid transparent;
  
  /* Removes the padding on the panel */
  &.no-padding { padding:0 }
  /* Removes the white outline arround the panel */
  &.no-outline:after { display:none }

  &:after {
    content:"";
    z-index:-1;

    position:absolute;
    top:-15px;
    bottom:-15px;
    left:-15px;
    right:-15px;

    background:fade(#fff, 30);
    .border-radius(3px);    
  }
}

/* GENERIC WHITE PANEL WITH A LIGHT FADE BACKGROUND */
.white-panel {
  background:fade(#fff, 30);
  .border-radius(3px);
  
  &.radius-top { .border-radius(3px 3px 0 0); }   
  &.radius-right { .border-radius(0 3px 3px 0); }   
  &.radius-bottom { .border-radius(0 0 3px 3px); }    
  &.radius-left { .border-radius(3px 3px 0 0); }    
}

/* GENERIC DARK PANE */
.dark-panel {
  
  .border-radius(4px);
  .box-shadow(~"0 1px 3px 0 rgba(0,0,0, 0.2), 0 1px 0 0 rgba(255,255,255,0.3) inset");
  border:1px solid #bbb;
  border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  background:#4483B4;  
  #gradient > .vertical(#4483B4, darken(#4483B4, 5%) );

  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  color:fade(@white, 80);  

  a, h1, h2, h3, h4, h5 { 
    color:@white;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  }

  
  &.radius-top { .border-radius(3px 3px 0 0); }   
  &.radius-right { .border-radius(0 3px 3px 0); }   
  &.radius-bottom { .border-radius(0 0 3px 3px); }    
  &.radius-left { .border-radius(3px 3px 0 0); }    
}

/* GENERIC SMALL CHAPTER CARD */
.chapter-card {

  position: relative;
  margin-bottom:10px;

  &.disabled {

    .dark-panel {
      background:#bbb;
    }

    // Add an overlay for the disabled chapter
    .dark-panel:before {
      z-index:100;
      content:"";
      display:block;
      position:absolute;
      top:-1px;
      left:-1px;
      bottom:-1px;
      right:-1px;
      .border-radius(inherit);

      #gradient > .striped( fade(#ccc, 60%) );
    }

    .arrow {
      border-style:dashed;
      .opacity(60);
    }

  }

  .dark-panel {

    padding:10px;
    min-height:22px;
    position: relative;
    z-index:60;
    text-align:center;

    .thumb {
      width:42px;
      height:42px;

      background:#fff;
      overflow: hidden;
      
      margin:0 auto;
      margin-bottom:10px;
      
      position:relative;
      .box-shadow(0 1px 2px 0 fade(#000, 40%) );      
      .border-radius(inherit);

      img {
        height:100%;
        width:auto;
        max-width: 400%;
        z-index:10;
        position:absolute;
        top:0;
        left:0;
        .transition(3s);
      }

      &:after {
        content:"";
        z-index:15;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        .border-radius(inherit);
        .box-shadow( 0 1px 0 0 fade(white, 30) inset );
      }
    }

    .points {
      display:block;
      font-size:10px;
      text-transform: uppercase;      
    }

  }

  .arrow {
    width:60px;
    height:0px;
    border:0;
    border-bottom:2px @grayLight solid;   

    position:absolute;
    z-index:50;

    &:after {     
      display:block;
      content:"";

      position:absolute;
      top:-3px; right:0px;

      height:6px;
      width:6px;

      border:2px solid @grayLight;
      border-left:0;
      border-bottom:0;

      .rotate(45deg); 

    }

    /*  Default */
    &, &.west.equal {
      top:50%;
      left:-61px;
      margin-top:-2px;
    }

    &.west.north {
      top:-32px;
      left:50%;
      right:auto;
      margin-left:-30px;    
      .rotate(90deg);
    }

    &.east.equal {
      top:50%;
      left:auto;
      right:-61px;
      .rotate(180deg);
      margin-top:-2px;
    }

    &.equal.north {
      top:-32px;
      left:50%;
      right:auto;
      margin-left:-30px;    
      .rotate(90deg);
    }



  }

}