/* Bootstrap files */
@import "/vendor/bootstrap/bootstrap.less";
/* Activates bootstrap's responsive behavior */
@import "/vendor/bootstrap/responsive.less";
/* Add bootstrap-ready icon*/
@import "/vendor/font-awesome/font-awesome.less";

/* Common tools for developing */
@import "tools.less";
/* Common class for quick scafolding */
@import "helpers.less";
/* Overwrite bottstrap */
@import "bootstrap-overwrite.less";
/* Global site components (menu, header, footer, etc) */
@import "components.less";



#my-journey .main-panel {	
    padding:20px 0;
}

#my-journey-footer {

	position:relative;

	background:fade(#fff, 20);
	border-top:1px solid #ddd;

	overflow:hidden;
	width:100%;

	margin-top:30px;
	padding-bottom:10px;

	h2 {
		padding-top:20px;
	}
}

.connect-form {

  border-left:1px solid #ddd;

  i {
    font-size:23px;
  }

}

#mission {

	position:relative;	
	overflow: hidden;	
	
	.well {		
		position:relative;	
		overflow: hidden;	
	}

	.well-header {

		margin-bottom:19px*2px; // To compensate the negative margin-top of the .content div bellow
		.bar {
			.transition(1s);
		}
	}

	.content {
		margin-top:-19px; // default well padding
	}

	.splashscreen {
		position:absolute;
		top:0;
		left:0;

		width:100%;
		height:100%;

		overflow:hidden;
  	background-color: #f5f5f5;

		.transition(top 0.7s);
  	.box-shadow(0 -5px 5px 0 fade(#000, 10));
  	.border-radius(inherit);

		.countdown,.instruction {
			width:100%;

			position:absolute;
			left:0;
			z-index:10;

			text-align:center;
			text-shadow:1px 1px 0 white;
		}

		.countdown {			
  		top:25%;
			font-family: 'Share', sans-serif;
			font-size:25px;
			color:@linkColor;
		}

		.instruction {
			top:70%;
			font-weight:bold;
		}

  	&.hide {
  		display:block;
  		top:110%;
  	}


	}	

	&.mission-quiz {
		
		.content {
			position:relative;
		}

		.steps {
			font-family: 'Share', sans-serif;
			font-size:20px;
			color:@grayLight;
			font-weight:bold;
			text-shadow:1px 1px 0 white;

			background:rgba(100,100,100,0.1);
			.no-rgba & { background:#E6E6E6; }

			position:absolute;
			border:rgba(0,0,0,0.1) 1px solid;
			border-right:0;
			border-top:0;
			padding:4px 8px;

			position:absolute;
			top:-19px;
			right:-19px;

			.border-radius(0 0 0 4px);
			.box-shadow(-1px 1px 0 0 white);
		}

	}

}


hr.soften {
	position:relative;
  height: 1px;
  margin: 40px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.2), rgba(0,0,0,0));
  border: 0;

  &:after {
  	content:"";    	

  	position:absolute;
  	left:0;
  	bottom:-1px;

  	display: block;
	  background-image: -webkit-linear-gradient(left, fade(white,0%), fade(white,100%), fade(white,0%));
	  background-image:    -moz-linear-gradient(left, fade(white,0%), fade(white,100%), fade(white,0%));
	  background-image:     -ms-linear-gradient(left, fade(white,0%), fade(white,100%), fade(white,0%));
	  background-image:      -o-linear-gradient(left, fade(white,0%), fade(white,100%), fade(white,0%));
  	height: 1px;
  	width:100%;
  }
}

.js-loading-overlay {
  position:absolute;
  top:0; bottom:0;
  left:0; right:0;

  height:100%;
  width:100%;

  background:url("/images/loading.gif") center center no-repeat #fff;
  .opacity(70);

  display:block;  
  z-index:199;

  border-radius: inherit;

  &.black {
    background:url("/images/loading-black.gif") center center no-repeat #000;    
  }

  &.transparent {
    background-color:transparent;
  }
}