@import "tools.less";


@footerHeight:300px;
@footerBackground: @linkColor;
#main {
  position:relative;
  z-index:1000;  
  background:url("/images/bg.jpg");  
  margin:0;
  margin-bottom:@footerHeight;    
  //.box-shadow(3px 0 6px 0 darken(@footerBackground, 50) );
}

footer {
	.opacity(80);
	background:fade(@footerBackground, 90);
	color:lighten(@footerBackground, 50);
	a, a:hover { color:lighten(@footerBackground, 80); }

	position:fixed;
	position:10;
	bottom:0;
	left:0;
	right:0;
	
	height:@footerHeight;
	// color:white;
	// font-weight:bold;
	// #gradient > .vertical(fade(@btnPrimaryBackground, 20), fade(@btnPrimaryBackgroundHighlight, 10) );
}

body {
  background:url("/images/bg.jpg");
	padding-top:50px;
}

h1, h2, h3, h4, .brand, fieldset legend {
	font-family: 'Share', sans-serif;
	text-shadow:1px 1px 0 white;
}

// Hides input in button
.btn input{ display: none }


.well-header {
	.well-header(19px);

	&.well-large {
		.well-header(24px)
	}

	&.well-small {
		.well-header(9px)
	}	
}

.navbar {

	border-bottom:1px solid #ddd;
	.box-shadow(0 0 6px 0 fade(#000, 10) );

	&, &:after {
		.transition(0.7s);
	}
	

	&.at-top {
		
		.opacity(30);		
		&:hover { .opacity(100); }

		.box-shadow(0 0 6px 0 fade(#000, 0) );


		.navbar-inner {
			background:fade(#000, 0);
		}

		&:after {
		  .opacity(0);
		}
	}

	.divider-vertical {
	    border-right-color:fade(white, 80);
	}

	a.padding0 {
		padding:0 !important;
	}

	.main-link {
		font-family: 'Share', sans-serif;
		font-size:16px;
		margin-right:10px;
	}

	.log-in {
		white-space: nowrap;
		padding:10px;

		label {
			margin:0;
			margin-bottom:5px;
			display: block;
			color:@grayDark;

			&.checkbox {
				margin-top:5px;
				margin-bottom:0px;
			}
		}

		a {
			color:@linkColor;
			padding-top:0;
		}

		.btn {
			margin-top:0;
			margin-bottom:0;
		}

	}

	.user-avatar {

		img {
			height:30px;
			clip:rect(0, 30px, 30px, 0);		
			.border-radius(50%);

		    border: #DFDFDF 1px solid;
		    border-bottom-width:2px;
		    .box-shadow(0 2px 1px 0 darken(#DFDFDF, 10%));

		    float:left;
		    margin-right:5px;
		    position:relative;
		    top:-6px;
		}
	}
}


.page-header {	
	margin-top:0;
	padding-top:30px;
	border:0;

	h1 {
		padding-bottom:10px;
	}
}

.main-panel {
	position:relative;
  background:white;
  padding:20px;
  margin-bottom:60px;
  .box-shadow(0 0 6px 0 fade(#000, 10) );
  .border-radius(3px);
  border:0.01px solid transparent;
  
  &.no-padding { padding:0 }
  &.no-outline:after { display:none }

  &:after {
  	content:"";
    z-index:-1;

    position:absolute;
    top:-15px;
    bottom:-15px;
    left:-15px;
    right:-15px;

    background:fade(#fff, 30);
  	.border-radius(3px);  	
  }
}

.white-panel {
  background:fade(#fff, 30);
  .border-radius(3px);
  
  &.radius-top { .border-radius(3px 3px 0 0); }  	
  &.radius-right { .border-radius(0 3px 3px 0); }  	
  &.radius-bottom { .border-radius(0 0 3px 3px); }  	
  &.radius-left { .border-radius(3px 3px 0 0); }  	
}


.chapter {

	position: relative;
	margin-bottom:10px;

	.well {
	    margin-bottom:0px;
	}

	&.disabled {
		// Add an overlay for the disabled chapter
		.well:before {
			z-index:100;
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;

			width:100%;
			height:100%;
			#gradient > .striped( fade(#ccc, 80%) );
		}

		.arrow {
			border-style:dashed;
			.opacity(60);
		}

	}

	&.highlight {

		.well {
			.box-shadow(0 0 6px 0 #FFEE00);
			.animation( shadow-pulse 4s linear infinite )
		}
	}



	.well {
		min-height:22px;
		position: relative;
		z-index:60;

		h4 {
			margin-left:60px;
		}

		&:hover .thumb img {
			height:110%;
		}

		.thumb {
			float:left;
			width:50px;
			height:100%;
			background:white;
			overflow: hidden;
			
			position:absolute;
			top:0;
			left:0;

			border-right:1px solid #ccc;
			.box-shadow(2px 0 2px 0 fade(#000, 10%) );
  		.border-radius(3px 0 0 3px);

  		img {
  			height:100%;
  			width:auto;
  			max-width: 400%;

				position:absolute;
				top:0;
				left:0;
				.transition(3s);
  		}
		}

		.points {
			display:block;
			margin-left:60px;
			font-size:10px;
			color:@gray;
			text-transform: uppercase;			
		}

	}

	.arrow {
		width:60px;
		height:0px;
		border:0;
		border-bottom:2px @grayLight solid;		

		position:absolute;
		z-index:50;

		&:after {			
			display:block;
			content:"";

			position:absolute;
			top:-3px; right:0px;

			height:6px;
			width:6px;

			border:2px solid @grayLight;
			border-left:0;
			border-bottom:0;

			.rotate(45deg);	

		}

		/*  Default */
		&, &.west.equal {
			top:50%;
			left:-61px;
			margin-top:-2px;
		}

		&.west.north {
			top:-32px;
			left:50%;
			right:auto;
			margin-left:-12px;		
			.rotate(90deg);
		}

		&.east.equal {
			top:50%;
			left:auto;
			right:-61px;
			.rotate(180deg);
			margin-top:-2px;
		}

		&.equal.north {
			top:-32px;
			left:50%;
			right:auto;
			margin-left:-12px;		
			.rotate(90deg);
		}



	}

}

#my-journey .main-panel {	
    padding:20px 0;
}
#my-journey-nomad {

	position:relative;

	background:fade(#fff, 20);
	border-top:1px solid #ddd;

	overflow:auto;
	width:100%;

	margin-top:30px;
	padding-bottom:30px;

	h2 {
		padding-top:20px;
	}
}

#mission {

	position:relative;	
	overflow: hidden;	
	
	.well {		
		position:relative;	
		overflow: hidden;	
	}

	.well-header {

		margin-bottom:19px*2px; // To compensate the negative margin-top of the .content div bellow
		.bar {
			.transition(1s);
		}
	}

	.content {
		margin-top:-19px; // default well padding
	}

	.splashscreen {
		position:absolute;
		top:0;
		left:0;

		width:100%;
		height:100%;

		overflow:hidden;
  	background-color: #f5f5f5;

		.transition(top 0.7s);
  	.box-shadow(0 -5px 5px 0 fade(#000, 10));
  	.border-radius(inherit);

		.countdown,.instruction {
			width:100%;

			position:absolute;
			left:0;
			z-index:10;

			text-align:center;
			text-shadow:1px 1px 0 white;
		}

		.countdown {			
  		top:25%;
			font-family: 'Share', sans-serif;
			font-size:25px;
			color:@linkColor;
		}

		.instruction {
			top:70%;
			font-weight:bold;
		}

  	&.hide {
  		display:block;
  		top:110%;
  	}


	}	

	&.mission-quiz {
		
		.content {
			position:relative;
		}

		.steps {
			font-family: 'Share', sans-serif;
			font-size:20px;
			color:@grayLight;
			font-weight:bold;
			text-shadow:1px 1px 0 white;

			background:rgba(100,100,100,0.1);
			.no-rgba & { background:#E6E6E6; }

			position:absolute;
			border:rgba(0,0,0,0.1) 1px solid;
			border-right:0;
			border-top:0;
			padding:4px 8px;

			position:absolute;
			top:-19px;
			right:-19px;

			.border-radius(0 0 0 4px);
			.box-shadow(-1px 1px 0 0 white);
		}

	}

}
